@srinivaskalagotla123:registry=https://npm.pkg.github.com/srinivaskalagotla123
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# //npm.pkg.github.com/:_authToken=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