name: Publish
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@srinivaskalagotla123'
      - run: npm install
      - run: npm run build
      # - run: |
      #     echo @srinivaskalagotla123:https://npm.pkg.github.com/ > build/.npmrc
      #     echo '//npm.pkg.github.com/:_authToken=${NPM_TOKEN}' >> build/.npmrc
        - run: npm publish --provenance --access public # this makes the package public
        working-directory: ./build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
